@import url('./reset.css');


body {
    background-color: black;
}

section {
    margin: 100px auto;

}

.banner button {
    text-transform: uppercase;
    border: solid 2px #3ba1cd;
    background-color: transparent;
    color: #31a8dd;
    font-weight: 900;
    font-size: 16px;
    text-align: center;
    padding: 19px 46px;
    letter-spacing: 4px;
}

.banner {
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, 1)), url('../images/banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    padding-top: 60px;
    border-bottom: 1px solid #33a8db80;
}

.logo {
    margin-bottom: 16px;
    background: rgba(0, 0, 0, .2);
    border-radius: 50%;
    height: 268px;
    width: 268px;
    margin: auto;
    padding: 16px;
}

.logo img {
    margin: auto;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.banner .banner-content {
    width: 700px;
    margin: auto;
    text-align: center;
    color: white;
}

.banner h1 {
    margin-top: 24px;
    letter-spacing: 4px;
    color: transparent;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 40px;
    background: -webkit-linear-gradient(#33a8db, #1472b7);
    -webkit-background-clip: text;
    background-clip: text;
}

.banner p {
    color: white;
    font-size: 20px;
    margin: 16px 0 24px;
}

#transform-world {
    background-image: url('../images/woman-code.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 560px;
    border-top: 1px solid #33a8db80;
    border-bottom: 1px solid #33a8db80;
    width: auto;
    padding: 200px;
}

#transform-world p {
    font-weight: 900;
    text-transform: lowercase;
    font-size: 40px;
    text-shadow: 3px 2px 0 #33a8db;
    width: 250px;
}

h2 {
    font-size: 32px;
    font-weight: 700;
    color: #33a8db;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: bold;
    margin-bottom: 24px;
}

#course-content {
    width: 800px;
    text-align: center;
}

#course-content p {
    font-size: 16px;
    text-align: center;
    font-weight: 400;
}

.modules-list {
    margin: 24px;
}


.module {
    border: 1px solid #33a8db80;
    color: white;
    border-radius: 100px;
    text-align: center;
    padding: 16px 0;
    width: 530px;
    background-color: #252525;
    margin: 0 auto 24px;
    box-shadow: inset 0 10px 10px black;
}

.module span {
    color: #33a8db;
}

.module {
    font-size: 16px;
}

#professional-challenges {
    width: 600px;
}

#professional-challenges p {
    text-align: center;
}

p {
    color: white;
}

footer {
    padding: 50px 50px;
    text-align: center;
    border-top: 1px solid #33a8db;
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(49, 168, 221, .1));
}

footer p {
    color: white;
}

footer a {
    color: #33a8db;
    font-weight: bold;
    text-decoration: none;
}

/* Efeito simples de hover */
footer a:hover {
    color: #bababa;
    text-shadow: 1px 1px 1px #33a8db;

}
